  <div class="ion-margin-bottom ion-padding" style="background-color: #f8f9fa;">
    
      <ion-row >
        <ion-col size="12">
          <div class="ion-text-center ion-text-md-start ion-margin-bottom">
            <h2 class="display-4 ion-font-weight-bold">
              Obten respuestas a tus preguntas </h2>
            <hr class="border-dark">
          </div>
        </ion-col>
      </ion-row>
      <ion-card class="ion-margin-top ion-padding">
      <ion-accordion-group>
        <!-- Acordeón 1 -->
        <ion-accordion value="first" expanded="true">
          <ion-item slot="header" class="ion-no-padding accordion-header-dark">
            <ion-label>
              <ion-icon name="help-circle" class="ion-margin-end"></ion-icon>
              ¿Cuál es la misión de Save & Serve?
            </ion-label>
          </ion-item>
          
          <div slot="content" class="ion-padding bg-light">
            <p>Save & Serve tiene como objetivo reducir el desperdicio de alimentos al recolectar excedentes de comida de supermercados y restaurantes y redistribuirla a organizaciones benéficas y personas necesitadas, contribuyendo a la lucha global contra el hambre.</p>
          </div>
        </ion-accordion>

        <!-- Acordeón 2 -->
        <ion-accordion value="second">
          <ion-item slot="header" class="ion-no-padding accordion-header-light">
            <ion-label>
              <ion-icon name="settings" class="ion-margin-end"></ion-icon>
              ¿Cómo funciona Save & Serve?
            </ion-label>
          </ion-item>
          
          <div slot="content" class="ion-padding bg-dark-subtle">
            <p>Nos asociamos con empresas para recolectar alimentos no vendidos pero comestibles. Nuestro equipo logístico garantiza que los alimentos se transporten de manera segura y eficiente a organizaciones benéficas locales, bancos de alimentos e individuos.</p>
          </div>
        </ion-accordion>

        <!-- Acordeón 3 -->
        <ion-accordion value="third">
          <ion-item slot="header" class="ion-no-padding accordion-header-dark">
            <ion-label>
              <ion-icon name="people" class="ion-margin-end"></ion-icon>
              ¿Quién se beneficia de las donaciones de alimentos?
            </ion-label>
          </ion-item>
          
          <div slot="content" class="ion-padding bg-light">
            <p>Las donaciones van a organizaciones benéficas, albergues, bancos de alimentos y directamente a familias e individuos necesitados. Trabajamos estrechamente con organizaciones comunitarias para garantizar que los alimentos lleguen a las personas adecuadas.</p>
          </div>
        </ion-accordion>

        <!-- Acordeón 4 -->
        <ion-accordion value="fourth">
          <ion-item slot="header" class="ion-no-padding accordion-header-light">
            <ion-label>
              <ion-icon name="thumbs-up" class="ion-margin-end"></ion-icon>
              ¿Cómo puedo involucrarme en la comunidad de Save & Serve?
            </ion-label>
          </ion-item>
          
          <div slot="content" class="ion-padding bg-dark-subtle">
            <p>Puedes unirte a nuestra comunidad suscribiéndote a nuestro boletín, participando en eventos locales o voluntariando para nuestras iniciativas. Visita la sección "Involúcrate" para más detalles.</p>
          </div>
        </ion-accordion>

        <!-- Acordeón 5 -->
        <ion-accordion value="fifth">
          <ion-item slot="header" class="ion-no-padding accordion-header-dark">
            <ion-label>
              <ion-icon name="shield-checkmark" class="ion-margin-end"></ion-icon>
              ¿Cómo garantiza Save & Serve la transparencia?
            </ion-label>
          </ion-item>
          
          <div slot="content" class="ion-padding bg-light">
            <p>Proporcionamos informes detallados a nuestros socios, mostrando cuánta comida se donó, a dónde fue y cuántas personas se vieron afectadas. Nuestro objetivo es construir confianza y responsabilidad.</p>
          </div>
        </ion-accordion>

        <!-- Acordeón 6 -->
        <ion-accordion value="sixth">
          <ion-item slot="header" class="ion-no-padding accordion-header-light">
            <ion-label>
              <ion-icon name="cube" class="ion-margin-end"></ion-icon>
              ¿Qué tipos de alimentos recolectan?
            </ion-label>
          </ion-item>
          
          <div slot="content" class="ion-padding bg-dark-subtle">
            <p>Recolectamos productos frescos, alimentos envasados y comidas preparadas que cumplen con las normas de seguridad alimentaria, pero que ya no son aptos para la venta. Se aceptan tanto productos perecederos como no perecederos.</p>
          </div>
        </ion-accordion>

        <!-- Acordeón 7 -->
        <ion-accordion value="seventh">
          <ion-item slot="header" class="ion-no-padding accordion-header-dark">
            <ion-label>
              <ion-icon name="refresh" class="ion-margin-end"></ion-icon>
              ¿Qué sucede con la comida que no se puede donar?
            </ion-label>
          </ion-item>
          
          <div slot="content" class="ion-padding bg-light">
            <p>Si la comida no es apta para la donación, exploramos métodos de disposición sostenible, como el compostaje, para minimizar el desperdicio y su impacto ambiental.</p>
          </div>
        </ion-accordion>

        <!-- Acordeón 8 -->
        <ion-accordion value="eighth">
          <ion-item slot="header" class="ion-no-padding accordion-header-light">
            <ion-label>
              <ion-icon name="checkmark-circle" class="ion-margin-end"></ion-icon>
              ¿Es seguro donar alimentos?
            </ion-label>
          </ion-item>
          
          <div slot="content" class="ion-padding bg-dark-subtle">
            <p>Absolutamente. Cumplimos con estrictas normas de seguridad alimentaria para garantizar que todas las donaciones se manejen, almacenen y transporten correctamente para mantener su calidad y seguridad.</p>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </div>
