.titulo-amarillo {
  color: #ffc107; /* amarillo */
}

.icono-amarillo {
  color: #ffc107;
}
ion-content {
  --background: #212529; /* fondo claro */
  p{
  color: #ffffff;
  }
  strong{
    color:#ffc107 ;
  }
}