<section>
  <div class="carousel-container">
    <swiper-container [pagination]="true" [autoplay]="true" [loop]="true" [navigation]="true">
      <!-- Slide 1 -->
      <swiper-slide>
        <div class="slide-content">
          <img src="assets/IMG/ley.jpg" alt="Foto 1">
          <div class="slide-overlay">
            <p class="slide-text">
              Aprobada en España Ley de Prevención de Pérdidas y Desperdicios de Alimentos
            </p>
          </div>
        </div>
      </swiper-slide>

      <!-- Slide 2 -->
      <swiper-slide>
        <div class="slide-content">
          <img src="assets/IMG/apcc.png" alt="Foto 2">
          <div class="slide-overlay">
            <p class="slide-text">
              Contamos con un equipo capacitado en APPCC, garantizando seguridad y calidad en cada proceso.
            </p>
          </div>
        </div>
      </swiper-slide>

      <!-- Slide 3 -->
      <swiper-slide>
        <div class="slide-content">
          <img src="assets/IMG/Transporte.jpg" alt="Foto 3">
          <div class="slide-overlay">
            <p class="slide-text">
              Recogemos comida, prevenimos el desperdicio y la compartimos con quienes más la necesitan.
            </p>
          </div>
        </div>
      </swiper-slide>

      <!-- Slide 4 -->
      <swiper-slide>
        <div class="slide-content">
          <img src="assets/IMG/voluntarios.jpeg" alt="Foto 4">
          <div class="slide-overlay">
            <p class="slide-text">
              Desde aquí, te conectamos con diferentes ONGs para que puedas ofrecer tu ayuda.
            </p>
          </div>
        </div>
      </swiper-slide>

    </swiper-container>
  </div>
</section>