<section>
  <div class="ion-text-center ion-padding ion-margin-top" style="background-color: #f8f9fa;">
    <ion-row style="background-color: #f8f9fa;">
      <ion-col size="12">
        <div class="ion-text-center ion-text-md-start ion-margin-bottom">
          <h2 class="display-4 ion-font-weight-bold">
            Save & Serve en cifras </h2>
          <hr class="border-dark">
        </div>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-hide-md-down">
            <ion-col size="12" size-md="2.4" class="ion-border-end">
              <div class="ion-padding">
                <p class="display-3 ion-font-weight-bold ion-no-margin" style="font-size: 2.5rem; font-weight: 700;">2024</p>
                <p class="text-muted">Servicio Oficial.</p>
              </div>
            </ion-col>
            
            <ion-col size="12" size-md="2.4" class="ion-border-end">
              <div class="ion-padding">
                <p class="display-3 ion-font-weight-bold ion-no-margin" style="font-size: 2.5rem; font-weight: 700;">15,000</p>
                <p class="text-muted">Kilogramos de alimentos recolectados y redistribuidos cada mes.</p>
              </div>
            </ion-col>
            
            <ion-col size="12" size-md="2.4" class="ion-border-end">
              <div class="ion-padding">
                <p class="display-3 ion-font-weight-bold ion-no-margin" style="font-size: 2.5rem; font-weight: 700;">50+</p>
                <p class="text-muted">Restaurantes y supermercados asociados con nuestro programa</p>
              </div>
            </ion-col>
            
            <ion-col size="12" size-md="2.4" class="ion-border-end">
              <div class="ion-padding">
                <p class="display-3 ion-font-weight-bold ion-no-margin" style="font-size: 2.5rem; font-weight: 700;">10,000</p>
                <p class="text-muted">Personas son ayudadas mensualmente a través de nuestras donaciones.</p>
              </div>
            </ion-col>
            
            <ion-col size="12" size-md="2.4">
              <div class="ion-padding">
                <p class="display-3 ion-font-weight-bold ion-no-margin" style="font-size: 2.5rem; font-weight: 700;">20+</p>
                <p class="text-muted">Organizaciones benéficas asociadas en todo el país.</p>
              </div>
            </ion-col>
          </ion-row>
          
          <ion-row class="ion-hide-md-up">
            <ion-col size="12" class="ion-border-bottom">
              <div class="ion-padding">
                <p class="display-3 ion-font-weight-bold ion-no-margin" style="font-size: 2.5rem; font-weight: 700;">2024</p>
                <p class="text-muted">Servicio Oficial</p>
              </div>
            </ion-col>
            
            <ion-col size="12" class="ion-border-bottom">
              <div class="ion-padding">
                <p class="display-3 ion-font-weight-bold ion-no-margin" style="font-size: 2.5rem; font-weight: 700;">15,000</p>
                <p class="text-muted">Kilogramos de alimentos recolectados y redistribuidos cada mes.</p>
              </div>
            </ion-col>
            
            <ion-col size="12" class="ion-border-bottom">
              <div class="ion-padding">
                <p class="display-3 ion-font-weight-bold ion-no-margin" style="font-size: 2.5rem; font-weight: 700;">50+</p>
                <p class="text-muted">Restaurantes y supermercados asociados con nuestro programa</p>
              </div>
            </ion-col>
            
            <ion-col size="12" class="ion-border-bottom">
              <div class="ion-padding">
                <p class="display-3 ion-font-weight-bold ion-no-margin" style="font-size: 2.5rem; font-weight: 700;">10,000</p>
                <p class="text-muted">Personas son ayudadas mensualmente a través de nuestras donaciones.</p>
              </div>
            </ion-col>
            
            <ion-col size="12">
              <div class="ion-padding">
                <p class="display-3 ion-font-weight-bold ion-no-margin" style="font-size: 2.5rem; font-weight: 700;">20+</p>
                <p class="text-muted">Organizaciones benéficas asociadas en todo el país.</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</section>