
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <h1 class="ion-text-start fw-semibold">¿Cómo funciona Save & Serve?</h1>
        <ion-item-divider class="ion-margin-vertical"></ion-item-divider>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-margin-bottom">
        <ion-card class="h-100">
          <img src="assets/IMG/step1.jpeg" alt="We collect food from restaurants and supermarkets">
          <ion-card-header>
            <ion-card-title>Paso 1: Nosotros recogemos los alimentos excedentes</ion-card-title>
          </ion-card-header>
          <ion-card-content class="justified-text">
            Save & Serve recoge alimentos no utilizados de restaurantes y supermercados que de otro modo se desecharían,
            lo que ayuda a reducir el desperdicio de alimentos.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4" class="ion-margin-bottom">
        <ion-card class="h-100">
          <img src="assets/IMG/step2.jpeg" alt="Food logistics and distribution">
          <ion-card-header>
            <ion-card-title>Paso 2: Logística y preparación de alimentos</ion-card-title>
          </ion-card-header>
          <ion-card-content class="justified-text">
            Una vez recogidos los alimentos, Save & Serve se encarga de clasificarlos, almacenarlos y prepararlos adecuadamente para su distribución. Nos aseguramos de que todos los alimentos se manipulen de forma segura y mantengan su calidad para ser entregados a quienes los necesitan.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4" class="ion-margin-bottom">
        <ion-card class="h-100">
          <img src="assets/IMG/step3.jpeg" alt="Food delivery to people in need">
          <ion-card-header>
            <ion-card-title>Paso 3: Entrega directa a Bancos de Alimentos</ion-card-title>
          </ion-card-header>
          <ion-card-content class="justified-text">
            Los alimentos preparados y almacenados se entregan directamente a comunidades que enfrentan inseguridad alimentaria. A través de nuestra red de distribución, trabajamos para garantizar que cada comida llegue a quienes más la necesitan.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
