  <div class="hero-section" style="height: 70vh; background: url('assets/IMG/herosection2.jpg') center/cover no-repeat;">
    <ion-grid style="height: 100%;">
      <ion-row class="ion-align-items-center ion-justify-content-start" style="height: 100%;">
        <ion-col size="12" size-md="6">
          <h1 class="display-4" style="color: white; font-weight: 600; padding-left: 60;">
            Guardando comida hoy, sirviendo vidas mañana
          </h1>
          <p class="lead" style="color: white; font-weight: 600;">
            Juntos podemos convertir los alimentos en esperanza. ¡Únete a nosotros!
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="info-section" style="background-color: #f8f9fa; color: #212529; padding: 5rem 0;">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h1 class="display-4" style="font-weight: 600; padding: 5rem 0;">
            ¿Sabías que un tercio de los alimentos se desperdicia
            Nosotros lo llevamos a donde más se necesita.
          </h1>
          <div class="ion-margin-top ion-flex ion-justify-content-center ion-gap-3">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
